.jumbotron{
	padding-top: 70px;
	background-color: #addeed;
}



#riwayat-hidup{
	background-color:  #addeed;
}

footer a{
	text-decoration: none;
	color: white;
}

footer{
	padding: 20px;
}

section{
	padding-top: 70px;
}

#riwayat-hidup .row{
	margin-bottom: 70px;
}

.table{
	width: 60%;
}